


*{margin: 0;padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Lobster+Two&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{ min-width: 960px; margin: 0 auto; color: #FFFFFF; 
    /* font-weight: 700; */
}
.fl{float:left;}
.fr{float: right;}
.fix{overflow: hidden;}
h1{ font-size: 40px; font-weight: 700;}
h2{font-size: 30px; }
h3{ font-size: 30px; }
p{ font-size: 20px;  opacity: 1; color: #878FA7; line-height: 25px; font-family: 'Poppins', sans-serif;
font-weight: 100;}
h2{font-size: 35px; font-weight: 700;}
ul li{list-style: none; display: inline-block;}
ul li a{text-decoration: none ;}
a{text-decoration: none; font-weight: 700;}

/* input[type=text]{
}
input[type=submit]{
} */


.container{width:98%;margin:0 auto; background-color: #FFFFFF;}
.structure{width: 85%;margin:0 auto;}


/* HEADER START HERE */
.headerSection {
    position: relative;
    z-index: 1
}
.headerSection::before{
    content: '';
    position: absolute;
    z-index: -1;
    height: 77%;
    width: 55%;
    top: 0px;
    right: 0px;
    background-image: url(images/headback.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navLogo {
    width: 30%;
}
.navLogoIMg {
    margin-top: 10px;
}
.navLogoIMg img{
    width: 60%;
}
.navMenu { 
    width: 70%;
    padding: 10px 0px;
}
.navMenu ul {
    text-align: right;
    margin-right: 50px;
}
.navMenu ul li {
    padding: 24px 5px 11px 7px;
}
.navMenu ul li a {
    margin: 0px 3px 0px 3px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}
.navMenu ul li a:hover {
    color: black;
}

/* HAEDER ENDS HERE */







/* HEADER BODY START HERE */

.headerbody  {
    padding: 150px 0px;
}
.headerbody::before{
    content: '';
    position: absolute;
    z-index: -1;
    height: 60%;
    width: 40%;
    top: 140px;
    right: 60px;
    background-image: url(images/headback\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.HeaderSOcial{
    width: 120%;
}
.HeaderSOcial:hover{
    filter: invert(60%);   
}
.Social1{
    position:absolute;
    top: 405px;
    left: 35px;
    z-index: 4;
}
.Social1:hover{
    filter: invert();
}
.Social2{
    position:absolute;
    top: 360px;
    left: 35px;
    z-index: 4;
}
.Social2:hover{
    filter: invert();
}
.Social3{
    position:absolute;
    top: 485px;
    left: 35px;
    z-index:4;
}
.Social3:hover{
    filter: invert();
}
.Social4{
    position:absolute;
    top: 440px;
    left: 35px;
    z-index: 4;
}
.Social4:hover{
    filter: invert();
}
.headerbodyh2{
font-family: 'Poppins', sans-serif;
}
.headerbodyh2 h2 {
    font-weight: 400;
    color: #42495B;
}
.headerbodyh1 {
    font-family: 'Poppins', sans-serif;
}
.headerbodyh1 h1{
    font-size: 55px;
    font-weight: 700;
    color: #42495B;
}
.headerbodyp { 
    width:40% ;
}
.headerbodyp p{
    margin-bottom: 20px

}
.headerbtn input[type=submit] {
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 12px 22px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 700;
    box-shadow: rgb(151 146 228) 0px 0px 3px;
    font-family: 'Poppins', sans-serif;

}
.headerbtn input[type=submit]:hover{
    box-shadow: 0px 0px 10px #190ae2;
    cursor: pointer;

}
.MouseImg{
    width: 10%;
    margin: 0 auto;
    margin-top: 80px;
}

.MouseImg:hover{
    cursor: pointer;
}
/* HEADER BODY ENDS HERE */







/* BIOGRAPHY START HERE */

.biography{
    position: relative;
    z-index: 1;
}
.biography::before{
    content: '';
    position: absolute;
    z-index: -1;
    height: 130%;
    width: 54%;
    top: -128px;
    right: 12px;
    background-image: url(images/biographyback.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.biographySection{
    padding: 60px 0px;
    position: relative;
    z-index: 1;
}
.biographySection::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 97%;
    width: 40%;
    top: 0px;
    left: 35px;
    background-image: url(images/biography1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.biographyText {
    width: 45%;
    margin-left: 560px;
}
.biographyTexth4{
    color: #7E76F9;
    font-family: 'Lobster', cursive;
}
.biographyTexth4 h4{
    font-weight: 100;

}
.biographyTexth1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.biographyTexth1 h1{
    font-family: 'Poppins', sans-serif;
    color: #42495B;
}
.biographyTexthp1 {
    width: 100%;
    margin-bottom: 20px;
}
.biographyTexthp2 {
    margin-bottom: 25px;
}
.biographybtn input[type=submit]{
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 10px 25px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 700;
    box-shadow:0px 0px 3px #9792e4;
    font-family: 'Poppins', sans-serif;

}
.biographybtn input[type=submit]:hover{
     box-shadow: 0px 0px 10px #190ae2;
     cursor: pointer;
}
/* BIOGRAPHTY ENDS HERE */






/* WHAT WE OFFER START HERE */

.whatWeOffer{
    padding: 60px 0px;
    position: relative;
    z-index: 1;
}
.whatWeOffer::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 64%;
    width: 100%;
    top: 440px;
    left: 0px;
    background-image: url(images/cardback.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.whatWeOfferSection {
    padding: 100px 0px 150px 0px;
}
.whatWeOfferhead{
    width: 50%;
    margin-left: 41px;
}
.whatweofferh4{
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    color: #7E76F9;
}
.whatweofferh4 h4{
    font-weight: 600;

}
.whatweofferh1 h1{
    font-family: 'Poppins', sans-serif;
    color: #42495B;}
.WHatWEOfferCarts {
    padding: 43px 0px 0px 0px;
}
.WHatWEOfferCart {
    margin: 10px 20px;
    padding: 46px 29px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #F6F4FE;
    box-sizing: border-box;
    width: 330px;
    height: 450px;
}
.WHatWEOfferCart:hover{
    transition: all .3s ease;
    box-shadow: 0px 0px 5px #7f7c88;
}
.cardimg {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.cardimgmain {
    width: 100%;
    margin: 0 auto;
}
.cardTexth5 {
    margin-bottom: 12px;
}
.cardTexth5 h5{
    font-size: 16px;
    color: #42495B;
    font-family: 'Poppins', sans-serif;

}
.cardTextp {
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;

}
.cardbtn1{
    margin-left: 180px;
    margin-top: 30px;
}
.cardbtn1 input[type=submit] {
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 10px 20px;
    font-size: 14px;
    color: whitesmoke;
    font-weight: 700;
    box-shadow: 0px 0px 3px #9792e4;
    font-family: 'Poppins', sans-serif;

}
.cardbtn1 input[type=submit]:hover{
    box-shadow: 0px 0px 10px #9792e4;
    cursor: pointer;
}



.cardbtn2{
    margin-left: 180px;
    margin-top: 55px;
}
.cardbtn2 input[type=submit] {
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 10px 20px;
    font-size: 14px;
    color: whitesmoke;
    font-weight: 700;
    box-shadow: 0px 0px 3px #9792e4;
    font-family: 'Poppins', sans-serif;

}
.cardbtn2 input[type=submit]:hover{
    box-shadow: 0px 0px 10px #9792e4;
    cursor: pointer;
}



.cardbtn3{
    margin-left: 180px;
    margin-top: 40px;
}
.cardbtn3 input[type=submit] {
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 10px 20px;
    font-size: 14px;
    color: whitesmoke;
    font-weight: 700;
    box-shadow: 0px 0px 3px #9792e4;
    font-family: 'Poppins', sans-serif;

}
.cardbtn3 input[type=submit]:hover{
    box-shadow: 0px 0px 10px #9792e4;
    cursor: pointer;
}



.cardbtn4{
    margin-left: 180px;
    margin-top: 35px;
}
.cardbtn4 input[type=submit] {
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 10px 20px;
    font-size: 14px;
    color: whitesmoke;
    font-weight: 700;
    box-shadow: 0px 0px 3px #9792e4;
    font-family: 'Poppins', sans-serif;

}
.cardbtn4 input[type=submit]:hover{
    box-shadow: 0px 0px 10px #9792e4;
    cursor: pointer;
}



.cardbtn5{
    margin-left: 180px;
    margin-top: 33px;
}
.cardbtn5 input[type=submit] {
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 10px 20px;
    font-size: 14px;
    color: whitesmoke;
    font-weight: 700;
    box-shadow: 0px 0px 3px #9792e4;
    font-family: 'Poppins', sans-serif;

}
.cardbtn5 input[type=submit]:hover{
    box-shadow: 0px 0px 10px #9792e4;
    cursor: pointer;
}



.cardbtn6{
    margin-left: 180px;
    margin-top: 35px;
}
.cardbtn6 input[type=submit] {
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 10px 20px;
    font-size: 14px;
    color: whitesmoke;
    font-weight: 700;
    box-shadow: 0px 0px 3px #9792e4;
    font-family: 'Poppins', sans-serif;

}
.cardbtn6 input[type=submit]:hover{
    box-shadow: 0px 0px 10px #9792e4;
    cursor: pointer;
}

/* WHAT WE OFFER ENDS HERE */






/* PRICING START HERE*/

.ourPricing {
    padding: 50px 0px;
    background-color:#dddbf8;   
}
.ourPricingHead {
    text-align: center;
}
.pricingh4{
    font-family: 'Lobster', cursive;
    font-size: 18px;
    margin-bottom: 20px;


}
.pricingh4 h4{
    font-weight: 100;
    color: #7E76F9;

}
.pricingh1 h1{
    font-family: 'Poppins', sans-serif;
    color: #42495B;

}
.pricingCarts{
    padding: 25px 0px 25px 64px;
}
.pricingCart {
    box-sizing: border-box;
    height: 350px;
    width: 300px;
    margin: 10px 10px;
    padding: 24px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px gray;
    text-align: center;
    background-color: #FFFFFF;
}
.pricingCart:hover{
    transition: all .3s ease;
    box-shadow: 0px 0px 15px gray;
}
.PricingCarth5 {
    padding-bottom: 20px;
}
.PricingCarth5 h5{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #42495B;
    font-weight: 200;

}
.PricingCartp {
    padding-bottom: 20px;
    padding-top: 20px;
}
.PricingCartp2 {
    opacity: 1;
    padding-bottom: 20px;
    padding-top: 20px;

}
.PricingCartp2 p{
    font-size: 22px;
    font-weight: 800;
    color:#1000FF ;
}
.pricingbtn{
    margin-top: 30px;
}
.pricingbtn input[type=submit] {
    border: 1px solid #1100ff;
    padding: 7px 21px;
    font-size: 14px;
    border-radius: 26px;
    color: #42495B;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;


}
.pricingbtn input[type=submit]:hover {
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    box-shadow: 0px 0px 8px #8881e0;
    color: whitesmoke;
    cursor: pointer;
}
.dotted-hr{
    border:dotted 8px blue;
    border-bottom: none;
    margin: 20px auto;
    width: 40px;
}
/* PRICING ENDS HERE */







/* NEWSLATTERS START HERE */

.newslettersHead {
    text-align: center;
    padding: 100px 0px;
}
.newslettersbtn {
    margin-top: 40px;
}
.newslettersheadh4 h4{
    color: #7E76F9;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    opacity: 1;
    font-size: 18px;
}
.newslettersHeadh3 h3{
    font-family: 'Poppins', sans-serif;
    color: #42495B;
    font-weight: 500;

}
.newslettersbtn input[type=text]{
    width: 40%;
    padding: 20px 10px;
    border: none;
    box-shadow: 0px 0px 1px #9d9d9d;
    border-radius: 3px;
    margin-right: 15px;
    font-size: 15px;
    background-color: #F6F7FB;
}
.newslettersbtn input[type=submit]{
    background: linear-gradient(90deg, rgba(26,18,159,1) 50%, rgba(68,58,212,1) 100%);
    border: none;
    border-radius: 26px;
    padding: 13px 27px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}
.newslettersbtn input[type=submit]:hover{
    box-shadow: 0px 0px 10px #8881e0;
    cursor: pointer;
}
/* NEWSLETTERS ENDS HERE */







/* FOOTER START HERE */

.footer {
    padding: 250px 0px 30px 0px;
    position: relative;
    z-index: 1;
}
.footer ::before{
    content: '';
    position: absolute;
    z-index: -1;
    height: 278%;
    width: 200%;
    left: -1180px;
    bottom: 0px;
    background-image: url(images/footer1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer ::after{
    content: '';
    position: absolute;
    z-index: -1;
    height: 240%;
    width: 155%;
    left: -350px;
    bottom: -100px;
    background-image: url(images/footer2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer1 {
    width: 19%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
}
.Footer1Img{
   width: 10%;
   display: inline-block;
   margin-right: 20px;
}
.Footer1Img img{
   width: 100%;
}
.Footer1fImg{
    width: 10%;
    display: inline-block;
    margin-right: 20px;
}

    .Footer1fImg img{
        width: 50%;
    }

.footer1 h2{
    color: whitesmoke;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
}
.footer1 h4{
    color: whitesmoke;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    font-weight: 400;

}
.footerSocial a{
    padding-right: 20px;
}
.footerSocial a:hover{
    filter: invert();
}
.footer2{
    text-align: left;
    width: 19%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.footer2 h6{
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer2 h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;

}
.footer2menu a{
    display: block;
    color: white;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;

}
.footer2menu a:hover{
      filter: invert();
}
.footer3 {
    width: 19%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    line-height: 26px;
}
.footer3 h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;

}
.footer3 a{
    color: white;
    font-size: 15px;
    margin-bottom: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.footer3 a:hover{
    filter: invert();
}
.footer4 {
    width: 19%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    line-height: 26px;
}
.footer4 h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;

}
.footer4 h6{
    color: white;
    font-size: 14px;
}
.footer4 a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.footer4 a:hover{
    filter: invert();
}
.footer4Img{ 
    width: 6%;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.footer4Img img{
    width: 100%;
}
/* FOOTER ENDS HERE */